@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
box-sizing: border-box;
font-family: 'Poppins';
}
html{
    scroll-behavior: smooth;
}
body{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
font-family: 'Poppins', sans-serif;
letter-spacing: 0.5px;
font-weight: 400;
overflow-x: hidden;
}


nav .nav-ul li{
    display: inline-block;
    font-size: 1.6rem;
    font-style: italic;
    }
    /*code for Navigation menu*/
.menu-section{
        position: fixed;
        top: 0;  
        right: 0;
        height: 80px;
        z-index: 999;
        width: 100%;
        padding-bottom: 10px;
        background-color: #fff;
    }
.nav-ul{
    list-style-type: none;
    margin: 0;
    background-color: var(--white-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    
.nav-img{
        float: left;
        position: absolute;
        left: 50px;
    }
 li a{
        color: var(--black-color);
        text-decoration: none;
        padding: 10px 5px;
        font-size: 0.87rem;
        font-weight: bold;  
        text-transform: uppercase; 
    }
 a:hover{
        transition: .5s;
        color: #0f17a1;
    }
    /*Nav menu ends here */
#home-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    }
.home-header{
    color: #fff;
    font-size: 2rem;
    font-style: italic;
}

#home-section button:hover{
    color: rgb(247, 136, 154);
    background-color: #000;
}

.section-container{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
.container{
        display: flex;
        align-items: center;
        justify-content: center;
      }
.inner-section{
    text-align: center;
}
.home{
    background: url(cookie\ store.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: -5;
    height: 600px;
    
    }
    
.home::before{
    background: rgb(13, 13, 13);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -2;
    }
    
    /* about */

    .about-area{
        width: 70%;
    }
    .about p{
        max-width: 60%;
        font-style: italic;
    }
    .about img{
        width: 500px;
        height: 400px;
        margin-top: 3rem;
        z-index: 90;
    }
    
    .outline-img{
        position: relative;
        margin-top: 4rem;
    }
 
   .outline-img::after{
    content : "";
    position: absolute;
    bottom: 2rem;
    left: -2rem;
    width: 500px;
    height: 400px;
    outline: 5px solid rgb(244, 170, 95);
    transition: all 1s ease-in-out 0s;
    margin-top: 3rem;
    z-index: -900;
   }
   
   .active{
    display: none;
   }
 .hover-state::after{
    content : "";
    position: absolute;
    width: 500px;
    height: 400px;
    outline: 5px solid rgb(244, 170, 95);
    transition: all 1s ease-in-out 0s;
    margin-top: 3rem;
    z-index: -900;
    left: 0;
    bottom: 0.4rem;

 }
   .btn{
    padding: 10px 30px;
    font-size: 1.2rem;
   }
   .btn:hover{
    background-color: #000;
    color: rgb(247, 136, 154);
   }
    /* store-section */
    
    .store{
        margin-top: 100px;
        background-color: #eeeaea;
        text-align: center;
    }
    .input-section{
    padding: 40px 0px;
   
     
    }
    .input-section input{
        padding: 8px; 
    }
    input{
        width: 35rem;
        z-index: 999;
        outline-color: #7f85ed;
        font-style: italic;
    }

    .store h2{
        margin-top: 50px;
    }
    #btn-area{
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }
    #btn-area button{
      padding: 10px 20px; 
      text-transform: uppercase;
      border: 1px solid #000;
      background-color: #eeeaea;
      font-size: 0.9rem;
      font-style: italic;
    }
    #btn-area button:hover{
        background-color: #000;
        color: rgb(247, 136, 154);

    }
    .input-section{
        position: relative;
    }
    .input-section i{
        background-color: rgb(247, 136, 154);
        padding: 11px 15px;
        position: absolute;
        margin-left: -2.9rem;
    }
    .store-images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 60%;
        margin: auto;
        gap: 2rem;
        position: relative;
        column-gap: 4rem;
    }
    .store-images img{
        width: 100%;
        height: auto;
        overflow: hidden;
        z-index: 10;
    }
    .cookies-img:hover{
      transform: scale(1.15);
      transition:  cubic-bezier(0.075, 0.82, 0.165, 1) 4s;
      overflow: hidden;
    }

    .img-card h1{
        font-style: italic;
        font-size: 1rem;
        font-weight: 200;

    }
.img-card {
    text-align: center;
    background-color: #fff;
    outline: none;
    box-shadow:  0px 5px 20px rgb(180, 159, 159);
    overflow: hidden;
    height: 300px;
    z-index: 1;
    }
   
   .card-text h1{
    float: left;
   }
   .card-text p{
    float: right;
   }
   .card-text{
     padding:  0px 15px;

   }
   
